.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
}

.list {
  margin-bottom: 1rem;
}

.add-item {
  height: 3rem;
  font-size: large;
}

.add-item input {
  height: inherit;
  width: 20rem;
  margin-right: 2rem;
}

.add-item button {
  height: inherit;
  font-weight: 600;
}
