.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
}

.list{
    margin-bottom: 1rem;
}

.add-item{
    height: 3rem;
    font-size: large;
    input{
        height: inherit;
        width: 20rem;
        margin-right: 2rem;
    }
    button{
        height: inherit;
        font-weight: 600;
    }
}